---
// Astro frontmatter (for imports and data)
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me";
---

    
<BaseLayout pageTitle={pageTitle}>
  <h2>About Me</h2>
  <p>Hello! I'm an Astro enthusiast passionate about building fast and modern websites.</p>
</BaseLayout>